.App {
  text-align: center;
  margin: 0 auto;
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  max-width: 1500px;
}

.container{
  padding: 100px 0px;
  margin: 0 auto;
  overflow-y: scroll;
}

/*------------ NAVBAR ---------- */
.nav {
  width: 100vw;
  display: flex;
  justify-content: left;
  align-items:left;
  align-content: center;
  flex-direction: row;
  margin: 0 auto;
  position: fixed;
  z-index: 2;
  max-width: 1500px;
  backdrop-filter: blur(5px);
}

.nav a{
  font-size: 1rem;
  font-weight: bold;
  text-decoration: none;
  padding: 25px 0; 
  margin: 0 25px;
  transition: 0.2s ease-in-out;;
}
.nav a:hover{
  transform: scale(1.1);
  cursor: pointer;
}
/*------------ Home ---------- */
.home{
  padding-top: 300px;
}
/*------------ About ---------- */
.about{
  padding-top: 200px;
  margin: 0 auto;
  width: 60vw;
  max-width: 1500px;
}
/*------------ MyWork ---------- */

.project-container{
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  background-color: aqua;
  /* margin: 0 auto; */
  max-width: 1500px;
}

.project-card{
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 75vw;
    padding: 10px 10px 55px 10px;
    margin: 20px;
    border-radius: 5px;
}

.project-card img{
  width: 650px;
  height: 390px;
  object-fit: fit;
  border-radius: 5px;
  margin-bottom: 10px;
  border: 1px solid black;
}

.project-card p{
  width: 600px;
}

/* -------- CONTACT  -------- */

.contact-container{
  /* display: flex;
  flex-direction: column;
  justify-content: center; */
  width: 100%;
  height: 100vh;
  max-width: 1500px;
  background-color: aqua;
}
.contact-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50vw;
  max-width: 400px;
  margin: 0 auto;
}

.contact-form input{
 border: none;
 border-radius: 5px;
 padding: 10px;
 margin: 5px 0;
}

.contact-form button {
  margin-top: 10px;
}

/* -------SOCIAL MEDIA ICONS ------- */
.social-media{
  margin: 20px auto;
  border-radius: 5px;
}
.social-media a{
  margin: 1rem;
  font-size: 2rem;
  transition: .3s ease-in-out;
}

.social-media a i:hover{
  cursor: pointer;
  transform: scale(1.2);
}