:root{
  --white: #f9f9fb;
  --white-see-through: rgba(239, 243, 251, 0.9);
  --black: rgb(36, 39, 43);
  --pink: rgb(249, 123, 132);
  --red: rgb(210, 0, 56);
  --light-green: rgb(8, 104, 126);
  --dark-green: rgba(0, 59, 80);
  --lake-blue: rgb(0, 115, 156);

  --font1: 'Abhaya Libre', serif;
  --font2: 'Roboto Flex', sans-serif;
  --font3: 'Rock Salt', cursive;
  --font-4: 'Taviraj', serif;
}

.App {
  text-align: center;
  margin: 0 auto;
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  max-width: 1600px;
  color: var(--dark-green);


}

.container{
  padding-top: 100px;
  margin: 0 auto;
  min-height: 72vh;
  overflow-y: scroll;
}

.san-serif-font{
  font-family: var(--font2);
}

button{
  transition: all .2s ease-in-out; 

}

button:hover{
  cursor: pointer;
}

i{
  color: var(--dark-green)
}

/*------------ NAVBAR ---------- */
.nav {
  width: 100vw;
  display: flex;
  justify-content: left;
  align-items:left;
  align-content: center;
  flex-direction: row;
  margin: 0 auto;
  position: fixed;
  z-index: 2;
  max-width: 1500px;
  backdrop-filter: blur(5px);
}

.nav a{
  font-size: 1rem;
  font-weight: bold;
  text-decoration: none;
  padding: 25px 0; 
  margin: 0 25px;
  transition: 0.2s ease-in-out;
  color: var(--lake-blue);
}
.nav a:hover{
  transform: scale(1.1);
  cursor: pointer;
}
/*------------ Home ---------- */
.home{
  position: relative;
  padding-top: 32vh;
  z-index: 1;
  background-image: url('./profile-images/yellowMountains.jpeg');
  background-repeat: no-repeat;
  background-position: top 55% right 0%;
  background-size: cover;
  overflow-y: hidden;
  overflow-x: hidden;
}

.home-page-info-container{
  text-align: left;
  padding-top: 75px;
  padding-bottom: 75px;
  width: 75vw;
  max-width: 1190px;
  color: var(--white);
  position: relative;
  border: 15px solid var(--white);
  z-index: -1;
  background-color: rgba(0, 59, 80, 0.7);
 
}

.home-page-info-container h1{
  margin: 0;
}

/* .layer{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow-y: none;
} */

.layer2{
  /* background-color: rgba(8, 50, 55, 0.4); */
  position: absolute;
  border-top: 15px solid white;
  border-left: 15px solid white;
  top: 15vh;
  left: 15vh;
  width: 100%;
  height: 100%;
  z-index: 0;
  overflow-y: none;
}

.layer3{
  position: absolute;
  border-right: 15px solid white;
  border-bottom: 15px solid white;
  bottom: 15vh;
  right: 15vh;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow-y: none;
}


.home h1{
  font-size: 60px;
  padding-left: 15vw;
  /* font-family: var(--font3); */
}
.home p{
  font-size: 30px;
  padding-left: 15vw;
  font-weight: bold;
  margin: 0;
  /* font-family: var(--font3); */
}

.home a{
  text-decoration: none;
  position: absolute;
  z-index: 15;
  left: 30px;
  bottom: 20px;
  color: var(--white);
}
.home a:hover{
  text-decoration: underline;
  color: var(--pink);
}

/*------------ About ---------- */
.about{
  padding-top: 200px;
  margin: 0 auto;
  width: 60vw;
  max-width: 1500px;
}

.about-img{
  height: 400px;
  width: 400px;
  object-fit: cover;
  border-radius: 15%;
}
/*------------ MyWork ---------- */

.project-container{
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  /* margin: 0 auto; */
  max-width: 1500px;
}

.project-card{
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 40vw;
    padding: 10px;
    margin: 20px;
    border-radius: 5px;
}

.img-container{
  position: relative;
  /* border: 1px solid black; */
}

.project-card img{
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
  /* margin-bottom: 10px; */
}

.project-card p{
  position: absolute;
  padding: 20px;
  bottom: -15px;
  border-radius: 5px;
  color: var(--black);
  background-color: var(--white-see-through);
  display:block;
  transition: 0.1s ease-in-out;
  z-index: 1;
}

.project-links{
    position: relative;
    padding: 10px;
    z-index: 3;
    /* border: red solid 1px; */
    width: 100%;
    height: 15vh;
    background-color: white;
}

#project-link{
  text-decoration: none;
  font-size: 20px;
  transition: all .2s ease-in-out; 
}

.demo-btn{
  border: none;
  margin: 20px;
  background-color: transparent;
  font-size: 20px;
}
/* -------- CONTACT  -------- */

.contact-container{
  width: 100%;
  background-color: var(--light-green);
  margin: 0 auto;
  padding: 20px 0 20px 0;
  border-radius: 5px;
  color: var(--white);
}
.contact-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  width: 90%;
  margin: 0 auto;
  /* border: red solid 1px; */
}

.contact-form input{
 border: none;
 border-radius: 5px;
 padding: 10px;
 margin: 10px 0;
}

.contact-form textarea{
 border: none;
 border-radius: 5px;
 padding: 10px;
 margin: 5px 0;
}

.contact-form button {
  margin-top: 10px;
  border-radius: 5px;
  border: none;
  padding: 10px;
  background-color:rgb(0, 58, 90);
  color: white;
}
.contact-form button:hover {
  font-weight: bold;
}

/* -------Footer/SOCIAL MEDIA ICONS ------- */

.footer-container{
  background-color: var(--light-green);
  margin: 0 auto;
  color: var(--white);
  padding: 40px;
  border-top: 15px solid white;
}

.footer-container p{
  font-size: 24px;
  
}

.contact-btn{
  padding: 7px;
  border: none;
  font-size: 20px;
  font-weight: bold;
  border-radius: 5px;
  color: var(--light-green);
  transition: .3s ease-in-out;
}
.contact-btn:hover{
  color: var(--white);
  background-color: var(--pink);
}

.social-media{
  margin: 20px auto;
  border-radius: 5px;
  background-color: var(--light-green);
  
}
.social-media a{
  margin: 1rem;
  font-size: 2rem;
  transition: .3s ease-in-out;
}

.social-media a i:hover{
  cursor: pointer;
  transform: scale(1.2);
  color: var(--pink);
}

.hidden{
  display: none;
  visibility: hidden;
  transform: translateY(75%);
  transition: 0.1s ease-in;

}